<%- include('header') -%>
<div class="col-md-4 col-md-offset-4">
  <form action="/" method="POST" role="form">
    <legend>Form title</legend>
    <div class="form-group">
      <label for="">Name</label>
      <input class="form-control" type="text" name="name"><br>
    </div>
    <div class="form-group">
     <label for="">specie</label>
     <input class="form-control" type="text" name="species"><br>
   </div>
   <div class="form-group">
     <label for="">type</label>
     <input class="form-control" type="text" name="type"><br>
   </div>
   <div class="form-group">
    <label for="">height</label>
    <input class="form-control" type="text" name="height"><br>
  </div>
  <div class="form-group">
   <label for="">weight</label>
   <input class="form-control" type="text" name="weight"><br>
 </div>
 <div class="form-group">
   <label for="">abilities</label>
   <input class="form-control" type="text" name="abilities"><br>
 </div>
 <div class="form-group">
   <label for="">evolution</label>
   <input class="form-control" type="text" name="evolution"><br>
 </div>
 <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


<%- include('footer') -%>
